//////////////////////////////////////////////////
//COLORS

$color-primary-dark: #879746;

$color-primary-dark-90: rgba(135, 151, 70, 0.9);

$color-primary-light-90: rgba(171, 187, 109, 0.9);

$color-btn-back: rgba(171, 187, 109, 0.9);

$color-btn-submit: #879746;

$color-btn-submit-disabled: rgb(135, 151, 70, 0.8);

$color-red: #ff0000;

$color-green: #45b148;

$color-yellow: #fca727;

$color-blue: #2661df;

$color-black: #000000;

$color-black-80: rgba($color-black, 0.8);

$color-white: #ffffff;

$app-max-width: 144rem;

$navigation-font-size: 1.6rem;
$form-label-font-size: 1.4rem;
$form-input-font-size: 1.6rem;
$form-message-font-size: 1.2rem;
$alert-message-font-size: 1.4rem;
$page-font-size-main: 3.6rem;
$footer-font-size-main: 1.6rem;
