//////////////////////////////////////////////////
//COLORS

$color-primary-dark: #23868b;

$color-primary-dark-90: rgba(35, 134, 139, 0.9);

$color-primary-light-90: rgba(102, 183, 187, 0.9);

$color-btn-back: #5abfd8;

$color-btn-submit: rgba(198, 125, 23, 0.9);

$color-red: #ff0000;

$color-green: #45b148;

$color-black: #000000;

$color-black-80: rgba($color-black, 0.8);

$color-white: #ffffff;

$app-max-width: 144rem;

$navigation-font-size: 1.6rem;
$form-label-font-size: 1.4rem;
$form-input-font-size: 1.6rem;
$form-message-font-size: 1.2rem;
$alert-message-font-size: 1.4rem;
$page-font-size-main: 3.6rem;
$footer-font-size-main: 1.6rem;
